<!docktype css>

h1{ 
    font-size: 40px;
    font-style: italic;
    text-align: center;
    border-width: 5px;
    border-color: green;
    border-style: solid;
   }

   h2{ 
   border-width: 5px; 
   border-color: darkred;
   border-style: solid;
   }